﻿
@model _0502MVC.ViewModel.BMIData

@{
    ViewBag.Title = "Index";
}

<h1>BMI計算</h1>
<h2>BMI = 體重(kg)/身高*身高(m)</h2>
<form method="post" action="@Url.Action("Index")">
    @Html.DisplayNameFor(m => m.Height)
    @Html.TextBoxFor(m => m.Height) 公分
    @Html.ValidationMessageFor(modleItem => Model.Height)<br />


    @Html.DisplayNameFor(m => m.Weight)
    @Html.TextBoxFor(m => m.Weight)公斤
    @Html.ValidationMessageFor(modleItem => Model.Weight)<br />
    <input type="submit" value="送出" />
</form>
<br />
計算結果： @Model.BMI <br />
等級： @Model.Level
