﻿
@{
    ViewBag.Title = "Index";
}

<h1>分數代碼查詢</h1><br/>
//action="/Score/Index"
<form method="post" action="@Url.Action("Index")">
    請輸入分數：<input type="text" name="score" value="" />
    <input type="submit" value="查詢" />

</form>
<hr />
查詢結果</br>
分數：@ViewBag.score</br>
代碼：@ViewBag.code